{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}  {{ title }}  {% endblock %}

{% block css_block %}
<style>
  .sign_up{
    width: 550px;
    border: 1px solid #ccc;
    padding: 40px;
  }

  .login{
    width: 550px;
    border: 1px solid #ccc;
    padding: 40px;
  }

</style>

{% endblock %}

{% block body_block %}
<center>
<div class="sign_up">
  <h3>Sign Up to See Profile</h3><br>
  <form method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" style="width:100%" class="btn btn-info btn-sm" >Signup</button>

  </form>
</div>

<div class="login">
  <p>Have an Account? <a href="{% url 'App_Login:login' %}">Login</a> </p>

</div>




</center>




{% endblock %}
